.member-txt{
    font-size: 20px;
    top: 10px;
    font-weight: 100;
}

.members-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
}

.member-container .member{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    margin-top: 100px;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.097);
    padding: 20px;
    border-radius: 50px;
}

.member-container .member .member-img{
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background: url(https://picsum.photos/500);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--secondary-light);
}

.member-container .member .member-info{
    margin-left: 50px;
    font-family: 'Open Sans Condensed';
    max-width: 50%;
}

.member-container .member .member-info .name{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

.member-container .member .member-info .position{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.member-container .member .member-info .about{
    font-size: 17px;
    font-weight: 100;
    margin-top: 40px;
}

.member-container .member .member-info .contact-member{
    background: var(--secondary-light);
    padding: 17px 35px;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 50px;
    position: absolute;
    transition: .1s ease;
}

.member-container .member .member-info .contact-member span{
    text-transform: capitalize;
}

.member-container .member .member-info .contact-member:hover{
    background: transparent;
    border: 2px solid var(--secondary-light);
}
